<h1>Create a Task</h1>
  <div class="">
  	<%= simple_form_for @task, remote: true do |f| %>
    	<%= f.input :description, :class => "form-control"%>
	    <%= f.input :environment, collection: Hash[Task.environments.map {|k,v| [k.split('_').first.capitalize,k] }]%>
	    <%= f.input :product_type, collection: Hash[Task.product_types.map {|k,v| [k.split('_').first.capitalize,k] }]%>
	    <%= f.input :reported_by, collection: Hash[Task.reported_bies.map {|k,v| [k.split('_').first.capitalize,k] }]%>
	    <%= f.input :sprint, collection: Hash[Task.sprints.map {|k,v| [k.humanize,k] }]%>
	    <%=f.submit "Create Task", id: 'create_task'%>
	<%end%>	
  </div>
  