
<div id="create-form" style=""></div>
<div id="alert"></div>
<h1>Listing Tasks</h1>
<%=sort_tasks_path%>
<%=form_for Task.new , :url => {controller: 'tasks', action: 'sort'}, method: :post, remote: true do |f| %>
    <%= f.select :sprint, Hash[Task.sprints.map {|k,v| [k.humanize,k] }]%>
    <%= f.submit "Sort"%>
<%end%>

<table id="tasks" class="table table-striped">
  <tr>
    <th>Actions</th>
    <th>Description</th>
    <th>Reported at</th>
    <th>Completed</th>
    <th>Priority</th>
    <th>Category</th>
    <th>Dev Status</th>
    <th>QA Status</th>
    <th>Assigned to</th>
    <% if current_user.try(:admin?)%>
    	<th>Caused By</th>
    	<th>Actions</th>
    <%end%>
    <th>Time Taken</th>
    <th>Environment</th>
    <th>Comments</th>
    <th>Unit Tested</th>
  </tr>
<% @tasks.each do |task| %>
  <%= render :partial => 'task', :locals => {:task => task}%>  
<% end %>
</table>